:root {
    --background: #3F3A36;
    --surface: #5C5652;
    --border: #8C857F;

    --cream: #F5F1E8;
    --cream-dark: #E7DED0;

    --hover: #DCCDB7;

    --brown: #8B6B4A;
    --brown-light: #B28A5B;
    --brown-dark: #5A4431;

    --text-dark: #2F2A27;
    --text-light: #FAF8F3;

    --accent: #2563EB;

    /* colours */
    --red: #B65C4A;
    --orange: #C77B49;
    --yellow: #C8A24D;
    --green: #6F8A55;
    --teal: #5E8B86;
    --blue: #6A89A7;
    --violet: #8C7AA9;
    --pink: #B67B86;
}

body {
    margin: 0px;
    background-color: var(--background);
    font-family: "figtree", sans-serif;
}

header {
    width: 100%;
    box-sizing: border-box;
    background: var(--surface);
    text-align: center;
    padding: 5px 5px 5px 5px;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 1000;
}

p, h3, h4, h5, h6, label {
    color: var(--brown);
}

h1, h2 {
    color: var(--brown-dark);
}

header h1, header h2{
    margin: 0px;
    color: var(--cream);
}

h1 a {
    all: unset;
    cursor: pointer;
}

header #days-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin: 0px 20px 0px 20px;
    padding: 10px;
}

header #date-container {
    margin-left: 50px;
    display: grid;
    text-align: left;
    padding: 10px;
}

#cell-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    background: var(--background);
    padding: 2px;
    margin: 0px 20px 0px 20px;
    /* width: fit-content; */
    /* margin-inline: auto; */
}

.cell {
    /* width: 200px;
    height: 150px; */
    display: flex;
    flex-direction: column;

    aspect-ratio: 4 / 3;
    background: var(--cream);
    margin: 0px;
    cursor: pointer;

    box-sizing: border-box;
}

.cell.current-date {
    border: 3px dashed var(--accent);
    border-radius: 5px;
}

.cell.alt {
    background: var(--cream-dark);
}

.cell:hover {
    background: var(--hover);
}

/* .cell.alt:hover {
    background: var(--cream-dark-hover);
} */

.cell p {
    margin: 4px;
    color: var(--brown);
}

.banner-container {
    display: flex;
    margin: auto 2px 2px 2px;
    flex-direction: column;
    gap: 2px;

    align-items: center;
    justify-content: center;
}

.banner {
    width: 100%;
    border-radius: 5px;
}

.banner p {
    color: var(--cream);
}

#event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section.event {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;

    width: 500px;
    text-align: center;
    background-color: var(--cream);
    border: 2px solid var(--border);
    border-radius: 8px;
    margin: 8px;
}

section.event .event-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--cream-dark);
    border-radius: 0px 5px 5px 0px;
}

#event-colour-container {
    display: flex;
    position: absolute;

    top: 20px;
    right: 20px;
    gap: 5px;
}

.swatch {
    border-radius: 6px;
    width: 15px;
    height: 15px;
    border: none;

    cursor: pointer;
}

.swatch.red {
    background-color: var(--red);
}
.swatch.orange {
    background-color: var(--orange);
}
.swatch.yellow {
    background-color: var(--yellow);
}
.swatch.green {
    background-color: var(--green);
}
.swatch.teal {
    background-color: var(--teal);
}
.swatch.blue {
    background-color: var(--blue);
}
.swatch.violet {
    background-color: var(--violet);
}
.swatch.pink {
    background-color: var(--pink);
}

#add-btn-container {
    position: fixed;
    bottom: 20px;
    right: 25px;

    z-index: 3000;
}

#add-btn {
    background-color: var(--cream);
    border: 2px solid var(--brown);
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 50px;
}

#add-btn:hover {
    background-color: var(--cream-dark);
}

button svg {
    fill: var(--brown);
    cursor: pointer;
}

button.dark-btn {
    background-color: var(--brown-dark);
    border: 2px solid var(--brown-dark);
    border-radius: 5px;

    color: var(--cream);
}

button.dark-btn:hover {
    background-color: var(--brown);
}

button.light-btn {
    background-color: var(--cream);
    border: 2px solid var(--brown-dark);
    border-radius: 5px;

    color: var(--brown-dark);
}

button.light-btn:hover {
    background-color: var(--cream-dark);
}

.edit-event-btn, .del-event-btn {
    background: none;
    border: none;
    border-radius: 5px;

    width: 40px;
    height: 40px;
}

.edit-event-btn:hover, .del-event-btn:hover {
    background: var(--hover);
}

#confirm-event-btn-container, #confirm-edit-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#confirm-event-btn, #confirm-edit-btn {
    border-radius: 50%;
    
    aspect-ratio: 1 / 1;
    width: 40px;

    background-color: var(--cream);
    border-color: var(--brown);
}

#confirm-event-btn:hover, #confirm-edit-btn:hover {
    background-color: var(--cream-dark);
}

textarea {
    width: 400px;
    height: 200px;
    resize: none;

    border-width: 2px;
    border-radius: 5px;
}

.modal {
    display: none;

    position: fixed;
    inset: 0;

    background: rgba(0, 0, 0, 0.5);

    z-index: 2000;

    justify-content: center;
    align-items: center;

}

.modal-content {
    background: var(--cream);

    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    padding: 20px;

    border-radius: 10px;
    border: 2px solid var(--border);

    z-index: 2001;
}

.modal.show {
    display: flex;
}

#title-input, #title-edit-input {
    font-family: "Figtree", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--brown-dark);

    background: none;
    border: none;
}

#title-input::placeholder, #title-edit-input::placeholder {
    font-weight: bold;
    color: var(--brown);
}

#title-input:focus, #title-edit-input:focus {
    outline: none;
}

#no-events {
    background-color: var(--cream);
    border: 2px solid var(--border);

    padding: 10px;

    border-radius: 10px;
}

input, select {
    background-color: white;
    border: 2px solid var(--border);
    border-radius: 5px;
    padding: 5px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: var(--brown);
    /* outline: 2px solid var(--brown); */
}

.urgency-status {
    width: 50px;
    border-radius: 5px 0px 0px 5px;
}

.urgency-status.red, .banner.red {
    background-color: var(--red);
}
.urgency-status.orange, .banner.orange {
    background-color: var(--orange);
}
.urgency-status.yellow, .banner.yellow {
    background-color: var(--yellow);
}
.urgency-status.green, .banner.green {
    background-color: var(--green);
}
.urgency-status.teal, .banner.teal {
    background-color: var(--teal);
}
.urgency-status.blue, .banner.blue {
    background-color: var(--blue);
}
.urgency-status.violet, .banner.violet {
    background-color: var(--violet);
}
.urgency-status.pink, .banner.pink {
    background-color: var(--pink);
}

.form-row {
    display: grid;
    grid-template-columns: 100px 1fr;
}

/* * {
    outline: 1px solid red;
} */
